.Main{
    align-content: center;
}
img{
    width:"500px";
    height: 250px;
    border-radius: 10px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}
h3{
    text-align: center;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Main {
    background-color: darkgray;
}
Col{
    border-color: black;
}